<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="d-none d-sm-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>

        <li class="dropdown d-none d-lg-block">
            <a class="nav-link dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="@Url.Content("~/Content/assets/images/flags/us.jpg")" alt="user-image" class="mr-1" height="12"> <span class="align-middle">English <i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="@Url.Content("~/Content/assets/images/flags/germany.jpg")" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="@Url.Content("~/Content/assets/images/flags/italy.jpg")" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                </a>
            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="fe-bell noti-icon"></i>
                <span class="badge badge-danger rounded-circle noti-icon-badge">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    View all
                    <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="@Url.Content("~/Content/assets/images/users/avatar-a.jpg")" alt="user-image" class="rounded-circle">
                <span class="pro-user-name ml-1">
                    Bug <i class="mdi mdi-chevron-down"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <!-- item-->
                <a href="@Url.Action("UserProfile","Home")" class="dropdown-item notify-item">
                    <i class="remixicon-account-circle-line"></i>
                    <span>Profil</span>
                </a>

                <!-- item-->
                <a href="/Admin" class="dropdown-item notify-item">
                    <i class="remixicon-settings-3-line"></i>
                    <span>Admin</span>
                </a>

                <!-- item-->
                <a href="@Url.Action("Index","Login")" class="dropdown-item notify-item">
                    <i class="remixicon-login-box-line"></i>
                    <span>Login</span>
                </a>
                <div class="dropdown-divider"></div>

                <!-- item-->
                <a href="@Url.Action("Logout","Home")" class="dropdown-item notify-item">
                    <i class="remixicon-logout-box-line"></i>
                    <span>Logout</span>
                </a>

            </div>
        </li>


        <li class="dropdown notification-list">
            <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                <i class="fe-settings noti-icon"></i>
            </a>
        </li>


    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo text-center">
            <span class="logo-lg">
                <span class="logo-lg-text-dark">TanySher</span>
            </span>
            <span class="logo-sm">
                <span class="logo-sm-text-dark">T</span>
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>

        <li class="dropdown d-none d-lg-block">
            <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                Diverse
                <i class="mdi mdi-chevron-down"></i>
            </a>
            <div class="dropdown-menu">
                <!-- item-->
                <a href="@Url.Action("Index","Product")" class="dropdown-item">
                    <i class="fe-briefcase mr-1"></i>
                    <span>Produse</span>
                </a>
            </div>
        </li>
    </ul>
</div>
<!-- end Topbar -->
