@using System.Web.Optimization
@model eUseControl.Web.Models.UserLogin
@{ ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div style="margin-top:200px">
    <div class="account-pages pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <p class="text-muted mb-4 mt-3">Enter your login and password to access the site</p>
                            </div>
                            <script>
                                function onSuccess() {
                                    alert("Succes");
                                }
                                function onFailure() {
                                    alert("Eșuat");
                                }</script>

                            @using (Ajax.BeginForm("Index", "Login", null, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "login-form",
                                OnSuccess = "onSuccess",
                                OnFailure = "onFailure"
                            }, new { id = "login-form" }))
                            {
                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                                <div class="form-group mb-3">
                                                    @Html.LabelFor(x => x.Email)
                                                    @Html.TextBoxFor(x => x.Email, new
                                                    {
                                                        @class = "form-control",
                                                        placeholder = "Write your email",
                                                        id = "",
                                                        name = "email"
                                                    })
                                                    @Html.ValidationMessageFor(x => x.Email)
                                                </div>
                                                                <div class="form-group mb-3">
                                                                    @Html.LabelFor(x => x.Password)
                                                                    @Html.TextBoxFor(x => x.Password, new
                                                                    {
                                                                        @class = "form-control",
                                                                        placeholder = "Write your password",
                                                                        id = "",
                                                                        name = "password"
                                                                    })
                                                                </div>

                                                                                <div class="form-group mb-0 text-center">
                                                                                    <button class="btn btn-primary btn-block" type="submit"> Login </button>
                                                                                </div>}

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Dont have an account? <a href="@Url.Action("Index","Register")" class="text-primary font-weight-medium ml-1">Register</a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
</div>